:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 1rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}
body {
  box-sizing: border-box;
  background-image: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1.4rem;
}
@keyframes upAndDown {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    box-shadow: var(--shadow-dark);
  }
  100% {
    transform: scale(1);
  }
}
.logo {
  height: 3.2rem;
  margin-left: 2rem;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 40%;
}
@media only screen and (max-width: 31.25em) {
  .search {
    order: 1;
    flex: 0 0 100%;
    background-color: var(--color-grey-light-2);
  }
}
.search__input {
  height: 3.5rem;
  border: none;
  background-color: var(--color-grey-light-2);
  outline: none;
  width: 90%;
  margin-right: -3.25rem;
  padding: 0.75rem 2rem;
  border-radius: 100px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  transition: all 0.2s;
}
.search__input::-moz-placeholder {
  color: var(--color-grey-light-4);
}
.search__input::placeholder {
  color: var(--color-grey-light-4);
}
.search__input:active,
.search__input:focus {
  width: 100%;
}
.search__button {
  border: none;
  background-color: transparent;
}
.search__icon {
  height: 2rem;
  width: 2rem;
  fill: var(--color-grey-dark-3);
}
.user-nav {
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-nav > * {
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
.user-nav > *:hover {
  background-color: var(--color-grey-light-3);
}
.user-nav__icon-box {
  position: relative;
}
.user-nav__icon-image {
  height: 2.5rem;
  width: 2.5rem;
  fill: var(--color-grey-dark-2);
}
.user-nav__notification {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  height: 2rem;
  width: 2rem;
  color: var(--color-grey-light-1);
  background-color: var(--color-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.user-profile {
  display: flex;
  align-items: center;
}
.user-profile__pic {
  height: 3.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.sidebar {
  flex: 0 0 18%;
  background-color: var(--color-grey-dark-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.side-nav {
  margin-top: 3.5rem;
}
@media only screen and (max-width: 56.25em) {
  .side-nav {
    display: flex;
    margin-top: 0;
    text-align: center;
  }
}
.side-nav__menu {
  display: flex;
  align-items: center;
  padding: 1.5rem 3rem;
  cursor: pointer;
  transform-origin: center;
  transition: all 0.2s;
  position: relative;
  background-color: transparent;
  z-index: 10;
}
@media only screen and (max-width: 56.25em) {
  .side-nav__menu {
    flex: 1;
    justify-content: center;
  }
}
@media only screen and (max-width: 37.5em) {
  .side-nav__menu {
    flex-direction: column;
  }
}
.side-nav__menu:not(:last-child) {
  margin-bottom: 0.5rem;
}
@media only screen and (max-width: 56.25em) {
  .side-nav__menu:not(:last-child) {
    margin-bottom: 0;
  }
}
.side-nav__menu::before {
  content: "";
  background-color: var(--color-primary);
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 3px;
  transform: scaleY(0);
  transition: transform 0.2s ease 0s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
    background-color 0.1s ease 0s;
  z-index: -1;
}
.side-nav__menu-selected::before,
.side-nav__menu:hover::before {
  transform: scaleY(1);
  width: 100%;
}
.side-nav__menu-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
  fill: var(--color-grey-light-1);
}
@media only screen and (max-width: 37.5em) {
  .side-nav__menu-icon {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
.side-nav__menu-name {
  text-transform: uppercase;
  color: var(--color-grey-light-1);
}
.legal {
  padding: 2.5rem;
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
}
@media only screen and (max-width: 56.25em) {
  .legal {
    display: none;
  }
}
.tourist__places {
  display: flex;
}
.tourist__places-image {
  width: 100%;
  display: block;
}
.hotel-description {
  display: flex;
  align-items: center;
  height: 7rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);
}
.hotel-name {
  font-size: 2.25rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
}
.star-rating {
  display: flex;
  margin-right: auto;
}
.star-rating-star {
  height: 1.5rem;
  width: 1.5rem;
  fill: var(--color-primary);
}
.hotel__location {
  display: flex;
  align-items: center;
  padding: 1.5rem 3rem;
}
.hotel__location-pin {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  fill: var(--color-primary);
}
.link {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--color-primary);
  border-bottom: 1px solid currentColor;
}
.link:focus {
  outline: none;
  animation: upAndDown 1s ease infinite;
}
.link:hover {
  color: var(--color-grey-dark-1);
}
.hotel__rating {
  align-self: stretch;
  padding: 0 1.5rem;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.hotel__rating-rating {
  font-weight: 300;
  font-size: 2.25rem;
}
.hotel__rating-votes {
  font-size: 1rem;
}
.detail {
  font-size: 1.4rem;
  padding: 4.5rem;
  display: flex;
  border-bottom: var(--line);
}
@media only screen and (max-width: 37.5em) {
  .detail {
    flex-direction: column;
  }
}
.description {
  background-color: var(--color-grey-light-1);
  border-radius: 3px;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-right: 4.5rem;
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .description {
    margin-right: 0;
    margin-bottom: 4.5rem;
  }
}
.paragraph:not(:last-of-type) {
  margin-bottom: 3rem;
}
.list {
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  list-style: none;
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap;
}
.list__item {
  flex: 0 0 50%;
  margin-bottom: 0.7rem;
}
.list__item::before {
  content: "";
  height: 1rem;
  width: 1rem;
  display: inline-block;
  -webkit-mask-image: url(../img/chevron-thin-right.svg);
  mask-image: url(../img/chevron-thin-right.svg);
  -webkit-mask-size: cover;
  mask-size: cover;
  background-image: none;
  background-color: var(--color-primary);
  margin-right: 0.7rem;
}
.recommend {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recommend__text {
  color: var(--color-grey-dark-3);
}
.recommend__images-box {
  display: flex;
}
.recommend__images-box-image {
  height: 5rem;
  border-radius: 50%;
  border: 3px solid #fff;
}
.recommend__images-box-image:not(:last-child) {
  margin-right: -2.5rem;
}
.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review {
  background-color: var(--color-grey-light-1);
  border-radius: 3px;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 4.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.review::before {
  content: "\201C";
  position: absolute;
  font-family: sans-serif;
  color: var(--color-grey-light-3);
  font-size: 20rem;
  top: -8.5rem;
  left: -1rem;
}
.review__text {
  margin-bottom: 1.5rem;
  z-index: 10;
}
.review__rating {
  font-size: 2.25rem;
  font-weight: 300;
  color: var(--color-primary);
}
.review__user {
  display: flex;
  align-items: center;
}
.review__user-photo {
  height: 4.5rem;
  border-radius: 50%;
  margin-right: 1.5rem;
}
.review__user-box {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}
.review__user-name {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.review__user-date {
  font-size: 1rem;
  color: var(--color-grey-dark-3);
}
.cta {
  padding: 3rem 0;
  background-color: var(--color-grey-light-1);
  text-align: center;
}
.cta-heading {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 2.5rem;
}
.btn {
  border: none;
  background-image: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.btn > * {
  width: 100%;
  height: 100%;
  display: inline-block;
  transition: all 0.2s;
}
.btn:focus {
  animation: upAndDown 1s ease infinite;
}
.btn:hover {
  background-image: linear-gradient(
    to right,
    var(--color-primary-dark),
    var(--color-primary-light)
  );
}
.btn:hover .btn-visible {
  transform: translateY(100px);
}
.btn:hover .btn-invisible {
  top: 0;
}
.btn-visible {
  padding: 2rem 7.5rem;
}
.btn-invisible {
  position: absolute;
  padding: 2rem 0;
  top: -100%;
  left: 0;
}
.conatiner {
  max-width: 120rem;
  margin: 8rem auto;
  min-height: 50rem;
  box-shadow: var(--shadow-dark);
  background-color: var(--color-grey-light-2);
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 75em) {
  .conatiner {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}
.header {
  height: 7rem;
  background-color: var(--color-grey-light-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--line);
}
@media only screen and (max-width: 31.25em) {
  .header {
    flex-wrap: wrap;
    align-content: space-around;
    height: 11rem;
  }
}
.content {
  display: flex;
  flex: 1;
}
@media only screen and (max-width: 56.25em) {
  .content {
    flex-direction: column;
  }
}
.hotel-view {
  display: flex;
  flex-direction: column;
}
